<%= form_with(model: @listing, local: true) do |form| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
<<<<<<< HEAD
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
=======
      <h2><%= pluralize(@listing.errors.count, "error") %> Prohibited this listing from being saved:</h2>
>>>>>>> 8390f2a331652945e2910d6d6a7eb67ef22ed9d2

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="card border-primary mb-3" style="width:50rem;">
<div class="card-header bg-transparent border-info">

    <h5 class="card-title">       
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      </h5>
</div>

  <div class="card-body text-info">

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :house_rules %>
    <%= form.text_field :house_rules %>
  </div>

  <div class="field">
    <%= form.label :property_type %>
    <%= form.text_field :property_type %>
  </div>

  <div class="field">
    <%= form.label :facility %>
    <%= form.text_field :facility %>
  </div>

  <div class="field">
    <%= form.label :amenity %>
    <%= form.text_field :amenity %>
  </div>


  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

</div>
<div class="card-footer border-info text-center"> 
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>

