 <%= paginate @listing %>
       
              <br>
             <div class="card-deck" >
              <% for listing in @listing %>
                    <div class="row">
                        <div class="col-sm-3">
                    <div class="card card-cascade" style="width: 20rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom:20px;">
                    <% if listing.images.count == 0 %>
                    <%= image_tag (["14.jpg","4.jpg","2.jpg","3.jpg"].sample), style:'height:200px;width:20rem;' ,class:"card-img-top" %>
                    <% else %>
                        <% listing.images.each do|image| %>
                    <%= image_tag image.url, style:'height:200px;width:20rem;' ,class:"card-img-top" %>
                        <% end %>
                    <% end %>
                
            <div class="card-body" >
            <tbody id="myTable">
                  <tr>                
                  <h4 class="card-title"><td ><%= listing.name %></td></h4>
                   <hr>
                   <p style="font-family: 'Montserrat', sans-serif;">
                  <td><%= listing.description %></td>
                  <td><% listing.address %></td>
                  <td><% listing.country %></td>
                  <td><% listing.city %></td>
                  <td><% listing.house_rules %></td>
                  <td><% listing.facility %></td>
                  <td><% listing.amenity %></td>
                  </p>
                  <td><strong><%= listing.property_type %></strong></td>
                  <td><p><strong>RM <%=  listing.price %></strong></p></td> 
                  <div class="text-center">
                  <td><%= link_to 'Book Now', listing ,class:["btn btn-1","btn btn-3","btn btn-4","btn btn-2","btn btn-2","btn btn-2"].sample%></td>
                  </div>
                  <td><% link_to 'Edit', edit_listing_path(listing) %></td>
                  <td><%=link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            </tbody>
            </div>
          </div>
          </div>
          </div>
            <% end %>
          </div>
       
          <br>


              
<%= paginate @listing %>