<body style=" background-color: #f1f1f1;">
  

      <div class="container">
      

<<<<<<< HEAD
            
             
             <div class="card-deck">
              <% @listing.each do |listing| %>
              <div class="row">
                  <div class="col-sm-3">
              <div class="card card-cascade" style="width: 20rem;max-height:40rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom:20px;">
              <% if listing.images.count == 0 %>
               <%= image_tag (["14.jpg","4.jpg","2.jpg","3.jpg"].sample), style:'height:200px;width:20rem;' ,class:"card-img-top" %>
              <% else %>
            
              <%   img = [] %>
                <% listing.images.each{ |image| img << image.url }  %>
                <%= image_tag img.sample, style:'height:200px;width:20rem;' ,class:"card-img-top" %>

              <% end %>
=======
>>>>>>> 8390f2a331652945e2910d6d6a7eb67ef22ed9d2
                

       <h1>Listings</h1>
          
                 


                  <div id="tag_cloud" class="container-fluid">
                        <% tag_cloud Listing.tag_counts, %w[s m l] do |tag, css_class| %>
                        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                        <% end %>
                  </div>

                 
                    <%= render partial:'form_with' %>

                <div id="card-columns" style="margin: 0 auto;">
                        <%= render partial:'listings',remote:true %>
                </div>
         
               
  
         </div>
</body>

      <script>  

</script>

