



<% if current_user.admin? || current_user.host? %>  

    <%= render partial:'application/navadmin' %>
    <br>
    <div class="table-responsive">
        <table class="table table-hover">

        <thead>
        <tr>
            <th>TOTAL Tags: <%=@tags.count %></th>
                    
        <tr>
        </thead>
        <thead>
        <tr>
       
            <th>Tag Id</th>
            <th>Tag Name </th>
            <th>Tag Total </th>
            <th>Listing Id</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="myDIV">
  
        <% @tags.order(created_at: :desc).each do |tag| %>
        <tr>
            <td><%= tag.id  %></td> 
            <td><%= tag.name  %></td> 
            <td><%= tag.listings.count %></td> 
 
            
          <% end %>
          </tr> 
        </tbody>
    </table>
    </div>
<% end %>
        
           



        
      
       
