<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
<<<<<<< HEAD

=======
    
>>>>>>> 8390f2a331652945e2910d6d6a7eb67ef22ed9d2
      <th>Status</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
<<<<<<< HEAD
        <td><%= reservation.belongs_to %></td>
        <td><%= reservation.belongs_to %></td>
=======
   
>>>>>>> 8390f2a331652945e2910d6d6a7eb67ef22ed9d2
        <td><%= reservation.status %></td>
        <td><%= reservation.start_date %></td>
        <td><%= reservation.end_date %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
