
<html>
    <head>
     
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
             <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    </head>
    <body>
       <!--
    ####################################################
    C A R O U S E L
    ####################################################
    -->
        <!-- fullscreen -->

                    <%= render partial:'sticky' %>  

        <div id="carousel-example-generic2" class="carousel slide carousel-fullscreen carousel-fade" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
            </ol>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url(<%= asset_path ["13.jpg","4.jpg","5.jpg"].sample %>);">
                    <div class="overlay"></div>
                    <div class="carousel-caption">
                     <h1 class="super-heading">Travel With AirBnB</h1>
                       <a href="/listings" class="btn btn-outline-secondary" style=" border-color: #fff;border-width: 0.18rem;">Go Now</a>
                    
                    </div>
                </div>
                <div class="item" style="background-image: url(<%= asset_path ["0.jpg","6.jpg","12.jpg","7.jpg","8.jpg","9.jpg"].sample %>);">
                    <div class="overlay"></div>
                    <div class="carousel-caption">
                        <h3 class="super-heading">With your loved ones</h3>
                       <%# <a href="/listings" class="btn btn-outline-light">Go Now</a> %>
                      <%= link_to "Go Now",listings_path,class:"btn btn-outline-secondary" ,style:" border-color: #fff;border-width: 0.18rem;" %>
                    </div>
                </div>
                <div class="item" style="background-image: url(<%= asset_path ["10.jpg","2.jpg","14.jpg","3.jpg"].sample %>);">
                    <div class="overlay"></div>
                    <div class="carousel-caption">
                        <h1 class="super-heading">To any places</h1>
                         <a href="/listings" class="btn btn-outline-secondary" style=" border-color: #fff;border-width: 0.18rem;">Go Now</a>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

      

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
