<!DOCTYPE html>
<html>
  <head>

    <title>Airbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		 <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
              <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">

    
  </head>
 
 
				<nav class="navbar navbar-expand-md bg-transparent navbar-fixed-top">
				
						<!-- Brand/logo -->
						 <div class="navbar-header">
						
								<%= link_to image_tag("pink.png", alt: "logo",style:"width:100px;padding-top:0px;", title:"Home"), '/', class: 'navbar-brand' %>
								 <button class="navbar-toggler" data-toggle="collapse" data-target="navbarMenu" style="background-color: lightgrey">
								  <span class="navbar-toggler-icon" style="color: white"></span>
								</button>
				 		  </div>
						<!-- Links -->
				  <div id="navbarMenu" class="collapse navbar-collapse" >
         		 <ul class="navbar-nav ml-auto navbar-right"  >
											
								<li><%= link_to 'Sign in', sign_in_path %></li>					
								<li><%= link_to "Sign in with Google", "/auth/google_oauth2" %></li>					
								<li><a style="margin-right: 10px" href="/">About</a></li>  
								<% if signed_in? %>
        				  Signed in as: <%= current_user.email %>
									<li> <%= link_to 'Add a Listing' ,new_listing_path%></li>
													
         			 <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
									  <% end %>
																				
						</ul>
				</div>
		</nav>

    <%= yield %>
  </body>
</html>
